@charset "UTF-8";
/* CSS Document */

/* Common to all stages */
#mu-res-foodordering-stage-container { margin-bottom: 20px;}


/** Stage 1 **/
#mu_FO_s1_wrapper { position: relative; overflow: hidden; }
#mu_FO_s1_left { width: 159px; position: absolute; top: 0; left: 0; z-index: 99; }
.mu_FO_s1_navs { height: 80px; background-color: #f8f6f1; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-style: solid; border-color: #f2dda5; }
.mu_FO_s1_navs.mu_first { margin-top: 20px; border-top-width: 1px; }
.mu_FO_s1_navs.mu_active { background-color: #fffaec; border-right-color: #fffaec; }
.mu_FO_s1_navs a { display: block; padding-top: 30px; padding-left: 10px; font-size: 22px; color: #d1d1d1; text-decoration: none; float: left; }
.mu_FO_s1_navs.mu_active a { color: #c8b684; }
.mu_FO_s1_navs .mu_FO_s1_navs_icon { overflow: hidden; width: 48px; height: 48px; display: block; background-image: url(../images/foodOrdering/s1_nav_icons.png); float: left; margin: 15px 0 0 10px; }
.mu_FO_s1_navs#mu_FO_s1_nav1 .mu_FO_s1_navs_icon { background-position: 0 0; }
.mu_FO_s1_navs#mu_FO_s1_nav1.mu_active .mu_FO_s1_navs_icon { background-position: 0 -48px; }
.mu_FO_s1_navs#mu_FO_s1_nav2 .mu_FO_s1_navs_icon { background-position: -48px 0; }
.mu_FO_s1_navs#mu_FO_s1_nav2.mu_active .mu_FO_s1_navs_icon { background-position: -48px -48px; }
.mu_FO_s1_navs#mu_FO_s1_nav3 .mu_FO_s1_navs_icon { background-position: -96px 0; }
.mu_FO_s1_navs#mu_FO_s1_nav3.mu_active .mu_FO_s1_navs_icon { background-position: -96px -48px; }
.mu_FO_s1_navs#mu_FO_s1_nav4 .mu_FO_s1_navs_icon { background-position: -144px 0; }
.mu_FO_s1_navs#mu_FO_s1_nav4.mu_active .mu_FO_s1_navs_icon { background-position: -144px -48px; }
.mu_FO_s1_tabs { width: 700px; background-color: #fffaec; border: solid 1px #f2dda5; min-height: 400px; display: none; position: absolute; top: 0; left: 158px; z-index: 98; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; }
.mu_FO_s1_tabs.mu_active { display: block; }
#mu_FO_s1_tab1_wrapper { width: 660px; margin: 20px auto; }

/* tab4 */
#mu_FO_s1_tab4 img { margin: 20px auto;}

/** Stage 2 **/
#mu_FO_s2_left { float: left; width: 590px; }
#mu_FO_s2_right { float: left; width: 250px; margin-left: 20px; }
#mu_FO_toolbox { height: 100px; background-color: #fffaec; border: solid 1px #f2dda5; }
.mu_FO_tools { float: left; width: 147px; padding-top: 18px; }
.mu_FO_tools .mu_FO_tickbox { background-image: url('../images/foodOrdering/check_box.png'); width: 20px; height: 20px; float: left; background-position: -20px 0; cursor: pointer; margin-left: 5px; }
.mu_FO_tools.mu_active .mu_FO_tickbox { background-position: 0;}
.mu_FO_tools a { font-size: 14px; color: #9b501f; text-decoration: none; display: block; float: left; margin-left: 5px; }
#mu_FO_restList { margin-top: 15px; }
.mu_FO_restBlk { width: 138px; height: 138px; border: solid 1px #f2dda5; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; float: left; margin-right: 10px; margin-bottom: 10px;}
.mu_FO_restBlk.mu_lastCol { margin-right: 0;}
.mu_rest_logo { float: left; width: 40px; margin-left: 5px; padding-top: 10px; }
.mu_rest_logo img { width: 40px; height: 40px; }
.mu_rest_name { color: #9b501f; font-size: 14px; font-weight: bold; float: left; width: 86px; margin-left: 5px; padding-top: 10px; }
.mu_rest_ranking { clear: both; overflow: hidden; margin-left: 5px;}
.mu_rest_ranking img {margin: 2px 0;}
.mu_rest_details { color: #9b501f; font-size: 14px; clear: both; margin-left: 5px;}
.mu_rest_details dt { float: left; clear: both;}
.mu_rest_details dd { float: left;}


/** Stage 3 **/
.mu_ss_preview {border: 1px solid #F0F;}

#mu_restInfo { background-color: #fffaec; border: solid 1px #f2dda5; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 10px; margin-bottom: 20px; }
#mu_restInfo  #mu_restPhoto { float: right; width: 320px; height: 220px;}
#mu_restInfo  #mu_restImg { float: left; width: 60px; height: 60px;}
#mu_restInfo  #mu_restName { float: left; width: 380px; margin-left: 10px;}
#mu_restInfo  #mu_restName h3 { color: #888272; font-size: 24px; padding: 15px 0;}
#mu_restInfo  #mu_restDetails { clear:left; float: left; width: 480px; color: #888272; font-size: 18px; margin-top: 10px; }
#mu_restInfo  #mu_restDetails dt { clear: left; float: left; margin-right: 15px; color: #968F7D; }
#mu_restInfo  #mu_restDetails dd { float: left; margin-bottom: 5px;}
#mu_restInfo #mu_tools { clear: both;}
#mu_restInfo #mu_tools #mu_t_bookmark { float: left;}
#mu_restInfo #mu_tools #mu_t_share { float: left;}
#mu_restInfo #mu_tools #mu_t_fblike { float: left; height: 20px; width: 400px;}

#mu_foodChoice { float: left; width: 640px; }
#mu_foodChoice > div { margin-bottom: 20px; }
#mu_foodChoice .mu_subtitle { color: #5f4e22; font-size: 24px; line-height: 30px; font-weight: normal; }

#mu_cart { float: right; width: 200px; background-color: #fffaec; border: solid 1px #f2dda5; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 5px;}
#mu_cart h5#mu_cartName { background-color: #fff7df; border: solid 1px #f2dda5; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; padding: 5px; color: #9d4f29; font-size: 18px; text-align: center; line-height: 30px;}
#mu_cart p#mu_restname { color: #4f4040; font-size: 14px; margin: 5px 0 15px 0; }
#mu_cart table { font-size: 14px; }
#mu_cart tr.mu_firstRow { border-bottom: 1px dotted #000;}
#mu_cart tr.mu_lastRow{ border-top: 1px dotted #000;}
#mu_cart th, #mu_cart .mu_cartTotal { color: #5f4e22;}
#mu_cart .td_center { text-align: center; vertical-align: middle;}
#mu_cart td{ padding-bottom: 5px;}
#mu_cart tr.mu_lastRow td{ padding-top: 5px;}
#mu_cart #mu_cartTools { font-size: 14px; color: #1e00ff; margin-top: 20px;}
#mu_cart #mu_cartTools > div { float: left; margin-left: 8px; cursor: pointer;}
#mu_cart #mu_cartTools > div:hover { text-decoration: underline;}

/* Popup Menu - Common */
.mu_CD_title { color: #9d4f29; font-size: 24px; line-height: 30px;}
.mu_CD_main { max-height: 480px; width: 740px; overflow-y: hidden; overflow-x: hidden; }

/* Popup Menu - Food Options */
#mu_popup_moreOption .mu_CD_title span.mu_CD_chosen { color: #ff6600;}
#mu_popup_moreOption .mu_CD_subTitle { color: #5f4e22; font-size: 18px; line-height: 25px; padding-left: 10px; }
#mu_popup_moreOption .mu_CD_opts { clear: both; margin-top: 15px; }
#mu_popup_moreOption .mu_CD_opts h6 { padding-left: 30px; font-size: 16px; color: #b12323; background: url(../images/foodOrdering/ios_ui.png) no-repeat scroll 0 0; line-height: 26px; height: 30px;}
#mu_popup_moreOption .mu_CD_opts h7 { font-size: 14px; color: #9d4f29; text-decoration: underline; text-align: center; display: block; margin-bottom: 10px; }
#mu_popup_moreOption .mu_CD_opts .mu_col1, #mu_popup_moreOption .mu_CD_opts .mu_col2 { width: 370px; float: left;}
#mu_popup_moreOption .mu_CD_opts .mu_CD_items { color: #b12323; font-size: 14px; width: 185px; float: left; cursor: pointer; }
#mu_popup_moreOption .mu_CD_opts .mu_CD_clickBox { clear: both; float: left; background-image: url('../images/foodOrdering/check_box.png'); width: 20px; height: 20px; background-position: -20px 0; }
#mu_popup_moreOption .mu_CD_opts .mu_CD_items.mu_active .mu_CD_clickBox { background-position: 0; }
#mu_popup_moreOption .mu_CD_opts .mu_CD_itemName { float: left; line-height: 20px; margin-left: 3px; max-width: 100px; }
#mu_popup_moreOption .mu_CD_opts .mu_CD_itemPrice { float: right; margin-right: 20px; line-height: 20px; }
#mu_popup_moreOption .mu_CD_opts textarea { width: 720px;}
#mu_popup_moreOption .mu_CD_go { text-align: right; margin: 20px 15px 20px 0;}
#mu_popup_moreOption .mu_CD_go button { font-size: 24px; }
#mu_popup_moreOption .mu_CD_go .mu_cancel {}
#mu_popup_moreOption .mu_CD_go .mu_order {}

/* Popup Menu - Cart Details */
.mu_iosIcon1, .mu_iosIcon2, .mu_iosIcon3 { background: url(../images/foodOrdering/ios_ui.png) no-repeat scroll 0 0; width: 30px; height: 30px;}
#mu_popup_cartDetails .mu_iosIcon1 { background-position: 0 0;}
#mu_popup_cartDetails .mu_iosIcon2 { background-position: 0 -30px; float: left; cursor: pointer; margin-left: 29px;}
#mu_popup_cartDetails .mu_iosIcon3 { background-position: 0 -60px; float: left; cursor: pointer;}

#mu_popup_cartDetails {}
#mu_popup_cartDetails .mu_CD_main { margin-top: 15px;}
#mu_popup_cartDetails .mu_CD_main tr { color: #b12323; font-size: 14px; background-image: url(../images/foodOrdering/dottedLine.png); background-repeat: no-repeat; background-position: 30px bottom; }
#mu_popup_cartDetails .mu_CD_main tr.mu_contentsRow:hover { background-color: #FFFFDF;}
#mu_popup_cartDetails .mu_CD_main tr.mu_firstRow {  }
#mu_popup_cartDetails .mu_CD_main tr.mu_lastRow { background-image: none;}
#mu_popup_cartDetails .mu_CD_main th { color: #5f4e22; font-size: 18px; line-height: 20px; padding-bottom: 10px;}
#mu_popup_cartDetails .mu_CD_main td { padding-bottom: 10px; padding-top: 5px; vertical-align: middle;}
#mu_popup_cartDetails .mu_CD_main tr.mu_lastRow td { font-weight: bold;}
#mu_popup_cartDetails .mu_CD_quantity { width: 30px; float: left; }
#mu_popup_cartDetails .mu_CD_go { text-align: right; margin: 20px 0 20px 0; }
#mu_popup_cartDetails .mu_CD_go button.mu_cancel { font-size: 18px; vertical-align: bottom;}
#mu_popup_cartDetails .mu_CD_go button.mu_order { font-size: 24px; vertical-align: bottom;}